<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Format" value="{0} FamilyName"/>
    <add key="Id" value="Some Id"/>
    <add key="NameTypes" value="Girls|Boys"/>
    <add key="FilesLocation" value="C:\Code\Repelsteeltje\test"/>
  </appSettings>
</configuration>
